<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.org.yacamim.relationship.mapping.defaults"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.org.yacamim.relationship.mapping.defaults.YRelationshipMappingDefaultsActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.org.yacamim.relationship.mapping.defaults.bidirectionalManyToManyRelationships.ManyToManyActivity"
            android:label="@string/title_activity_bidirectional_many_to_many" >
        </activity>
        <activity
            android:name="br.org.yacamim.relationship.mapping.defaults.bidirectionalManyToOneOneToManyRelationships.ManyToOne_OneToManyActivity"
            android:label="@string/title_activity_bidirectional_many_to_one" >
        </activity>
        <activity
            android:name="br.org.yacamim.relationship.mapping.defaults.bidirectionalManyToOneOneToManyRelationships.OneToManyActivity"
            android:label="@string/title_activity_bidirectional_one_to_many" >
        </activity>
        <activity
            android:name="br.org.yacamim.relationship.mapping.defaults.bidirectionalOneToOneRelationships.OneToOneActivity"
            android:label="@string/title_activity_bidirectional_one_to_one" >
        </activity>
        <activity
            android:name="br.org.yacamim.relationship.mapping.defaults.bidirectionalOneToOneRelationships.OneToOneCubicleActivity"
            android:label="@string/title_activity_bidirectional_one_to_one" >
        </activity>
        <activity
            android:name="br.org.yacamim.relationship.mapping.defaults.unidirectionalSingleValuedRelationships.ManyToOneActivity"
            android:label="@string/title_activity_unidirectional_many_to_one" >
        </activity>
        <activity
            android:name="br.org.yacamim.relationship.mapping.defaults.unidirectionalSingleValuedRelationships.OneToOneActivity"
            android:label="@string/title_activity_unidirectional_one_to_one" >
        </activity>
    </application>

</manifest>