<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.nuceloesperanca.radiografiasocial"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.googleapps.permission.GOOGLE_AUTH" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="br.com.nuceloesperanca.radiografiasocial.RadiografiaSocialActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="br.com.nuceloesperanca.radiografiasocial.ConsultarPacienteActivity"
            android:label="@string/title_consultar_paciente" >
        </activity>
        <activity android:name="br.com.nuceloesperanca.radiografiasocial.ListPacientesActivity" 
			android:label="@string/label_resultado_consulta" 
			android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="br.com.nuceloesperanca.radiografiasocial.PacienteActivity"
            android:label="@string/lbl_paciente" >
        </activity>
        <activity
            android:name="br.com.nuceloesperanca.radiografiasocial.VisitaActivity"
            android:label="@string/lbl_visita" >
        </activity>
    </application>
</manifest>